# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build outputs
build/
dist/
*.spec

# Logs
*.log


# Builds locais de distribuição
LinuxBuild*/
LinuxBuild.zip
NeonFirewall*/
*.zip
